.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /*@media (min-width: $tablet-width) {
	  padding: 0 30px;
	  margin: 0;
	}
  
	@media (min-width: $desktop-width) {
	  padding-left: 110px;
	  padding-right: 110px;
	  max-width: 1440px;
	  margin: 0 auto;
	}*/
}